.portfolio-header__wrapper{
    margin-top: 5rem;
    padding: 2rem 2rem 0 2rem;
    height: 66.25rem;
}

.portfolio-header__content{
    position: relative;
    border: 1px solid var(--c1-color);
    aspect-ratio: 1 / .45;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background: linear-gradient(to bottom, black 0%, #2F303D 50%, black 100%);
}
.portfolio-header__background{
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: flex-end;
    & > svg{
        border-radius: 2rem;
    }
    & > svg > path{
        transform: scale(3, 2) translateY(-5%);
    }
}

.portfolio-header__content-header{
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > h1{
        font-family: var(--f1-font);
        font-weight: 500;
        font-size: 5rem;
    }

    & > p{
        font-family: var(--f2-font);
        font-weight: 300;
        font-size: 2rem;

    }

    & > button{
        padding: .5rem 1rem .5rem;
        background-color: transparent;
        border: 1px solid var(--c1-color);
        font-family: var(--f2-font);
        border-radius: 1rem;
        font-size: 1rem;
        width: max-content;
    }
    & > *{
        position: relative;
        color: white;
    }
}

.portfolio-header__content-hero{
    padding: 5rem 3rem 5rem 0;
    display: flex;
    align-items: center;
}

.portfolio-picture{
    width: 25rem;
    position: relative;
    border: 3px solid var(--c1-color);
    padding-top: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to bottom, #E2E2E2 0%, #7C7C7C 42%, #E2E2E2 100%);
    & > img{
        width: 100%;
        border-radius: .75rem;
    }
}

.portfolio-header__info{
    position: absolute;
    width: clamp(18rem, 75vw, 100rem);
    padding-block: 5rem;
    border-radius: 1rem;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(25vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & > h1, & > p{
        font-weight: 300;
        text-align: center;
    }

    & > h1{
        font-size: 2.25rem;
    }

    & > p{
        font-size: 1.5rem
    }

    & > div{
        display: flex;
        width: clamp(18rem, 50vw, 29.5rem);
        overflow: hidden;
        gap: 1rem;
    }

    & > div > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        min-width: 5rem;
        animation: scroll 10s linear infinite;
    }


    & > div > div > svg{
        fill: white;
        width: 45px;
        height: 45px;
    }


    
    & > *{
        font-family: var(--f1-font);
        color: white;
    }
}

@keyframes scroll {
    to{
        transform: translateX(calc((1rem * 12) + -60rem)); /*FUTURE REFERENCE THIS IS THE MOST IMPORTANT */
    }
}

@media (max-width: 1075px){

}