.project-gallery{
    padding-inline: 5rem;
    font-family: var(--f2-font);
    color: white;
    padding-bottom: 3rem;
}

.gallery-content{
    padding-block: 1rem;
    height: min-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25% 50% 25%;
    column-gap: 1rem;
    overflow: hidden;
}

.gallery-item{
    & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}