.project-gallery{
    padding-inline: 5rem;
    font-family: var(--f2-font);
    color: white;
    padding-bottom: 3rem;
}

.gallery-content{
    padding-block: 1rem;
    padding-inline: 1rem;
    height: min-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25% 50% 25%;
    column-gap: .5rem;
    overflow: hidden;
    height: 30rem;
    & > div:nth-of-type(1), & > div:nth-of-type(3){
        filter: blur(2px);
    }
}

/* transform: translateX(calc(-150%)); div#3 */ 
/* transform: translateX(calc(-100% - .5rem)); div#all */
/*  transform: translateX(calc(-100% - .5rem));
    width: 50%; 
    div #2
*/


.gallery-item{
    width: 100%;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Shift Right */

.shift-last-to-center {
    -webkit-transform: translateX(calc(-100% - 0.5rem));
    transform: translateX(calc(-100% - 0.5rem));
    width: 200%;
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
} 

.shift-center-to-first {
    -webkit-transform: translateX(calc(-100% - 0.5rem));
    transform: translateX(calc(-100% - 0.5rem));
    width: 50%; 
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}

.shift-remaining-to-right {
    -webkit-transform: translateX(calc(-100% - 0.5rem));
    transform: translateX(calc(-100% - 0.5rem));
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}

.shift-first-to-out {
    -webkit-transform: translateX(calc(-100% - 0.5rem - 1rem));
    transform: translateX(calc(-100% - 0.5rem - 1rem));
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}


/* Shift Left */

.shift-first-to-center {
    -webkit-transform: translateX(calc(50% + 0.5rem));
    transform: translateX(calc(50% + 0.5rem));
    width: 200%;
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}

.shift-center-to-last {
    -webkit-transform: translateX(calc(200% + 0.5rem));
    transform: translateX(calc(200% + 0.5rem));
    width: 50%; 
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}

.shift-remaining-to-left {
    -webkit-transform: translateX(calc(100% - 0.5rem));
    transform: translateX(calc(100% - 0.5rem));
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
}

.shift-last-to-out {
    -webkit-transform: translateX(calc(100% + 1rem));
    transform: translateX(calc(100% + 1rem));
    -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
    transition: transform 1s ease-in, width 1s ease-in;
} 



.gallery-buttons {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: .5rem;

    & > div {
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        & > button {
            background-color: transparent;
            width: 2rem;
            height: 2rem;
            border: none;
            & > svg {
                fill: var(--c1-color);
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1500px){
    .gallery-content{ 
        height: 25rem;
    }

}
@media (max-width: 1080px){
    .project-gallery {
        padding-inline: clamp(.5rem, 10vw, 5rem);
    }
    .gallery-content{ 
        padding-inline: 0rem;
        grid-auto-columns: 10% 80% 10%;
        column-gap: clamp(.25rem, 1%, 1rem);
        height: 25rem;
    }

    .gallery-buttons {
        grid-template-columns: 10% 80% 10%;
    }

    /* .shift-last-to-center { 
        -webkit-transform: translateX(calc(-100% - 0.5rem));
        transform: translateX(calc(-100% - 0.5rem));
        width: 800%;
        -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
        transition: transform 1s ease-in, width 1s ease-in;
    }

    .shift-center-to-first {
        -webkit-transform: translateX(calc(-100% - 0.5rem));
        transform: translateX(calc(-100% - 0.5rem));
        width: 15%; 
        -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
        transition: transform 1s ease-in, width 1s ease-in;
    }

    .shift-first-to-center {
        -webkit-transform: translateX(calc(15% - 0.5rem));
        transform: translateX(calc(15% - 0.5rem));
        width: 800%;
        -webkit-transition: -webkit-transform 1s ease-in, width 1s ease-in;
        transition: transform 1s ease-in, width 1s ease-in;
    } */

}

@media (max-width: 900px) {
    .gallery-content{ 
        height: 20rem;
    }
}        

@media (max-width: 700px) {
    .gallery-content{ 
        height: 15rem;
    }
}        

@media (max-width: 500px){
    .project-gallery {
        padding-inline: .55rem;
    }
}