.project-header{
    margin-top: 5rem;
    padding: 3rem 5rem;
    color: white;
    font-family: var(--f2-font);
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-link{
    display: flex;
    gap: .5rem;
    color: white;
    text-decoration: none;
    height: max-content;
    align-items: center;
    & > p{
        height: max-content;
    }
    & > svg {
        width: 1rem;
        height: 1rem;
        fill: white;
    }
}