.project-about{
    padding-inline: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.about-image{
    & > img{
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-description {
    color: white;
    font-family: var(--f2-font);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > p:nth-of-type(1){
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.project-technologies{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > p{
        font-size: 1.2rem;
        font-weight: 500;
    }
    & > div {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.project-technology{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: max-content;
    & > svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;
    }
}

@media (max-width: 1080px){
    .project-about {
        grid-template-columns: none;
        row-gap: 1rem;
        padding-inline: clamp(1rem, 10vw, 5rem);
    }
}