
.home_header-wrapper{
    position: relative;
    background: url('../../images/homeBg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::after{
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--c3-color);
    opacity: 80%;
    }

    &::before{
        position: absolute;
        content: '';
        inset: 0;
        background: rgba(94, 94, 94, 0.068);
        backdrop-filter: blur(.5vh);
        z-index: 3;
    }
}
.home_header{
    position: relative;
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    & *{
        position: relative;
        z-index: 2;
    }

}

.home_header_content{
    z-index: 3;
    padding-top: 5rem;
    & > h1{
        font-family: var(--f1-font);
        color: white;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & > div{
        display: flex;
        justify-content: space-around;

        & > button{
            position: relative;
            font-family: var(--f1-font);
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            width: 8rem;
            height: 3rem;
            color: white;
            background-color: black;
            border: 1px solid var(--c1-color);
            border-radius: 5rem;

            
            &::after{
                position: absolute;
                inset: 0;
                content: '';
                opacity: 10%;
                border-radius: 5rem;
            }
            &:hover::after{
                background-color: var(--c1-color);
            }
        }
    }
}

.home_header_angel-wings{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    &::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: var(--c1-color);
        opacity: 10%;
        aspect-ratio: 1 / 1;
        height: 150%;
    }
}

@media (max-width: 965px){
    .home_header_content{
        & > h1{
            font-size: 2rem;
        }
    }
}

@media (max-width: 450px){
    .home_header{
        height: calc(100svh - 5rem);
        justify-content: center;
    }

    .home_header_content{
        & > h1{
            font-size: 1.7rem;
        }
    }
}

.home__main{

}

@keyframes  scrollOne{
    0%   { transform: translateX(0); }
    100% { transform: translateX(-68vw); }
}
@keyframes  scrollTwo{
    0%   { transform: translateX(0); }
    100% { transform: translateX(-158vw); }
}
@keyframes  scrollThree{
    0%   { transform: translateX(0); }
    100% { transform: translateX(-95vw); }
}
@keyframes  scrollFour{
    0%   { transform: translateX(0); }
    100% { transform: translateX(-80vw); }
}
@keyframes  scrollFive{
    0%   { transform: translateX(0); }
    100% { transform: translateX(-188vw); }
}

.home__section-information{
    padding: 5rem 10% 5rem 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.home__section-icons{
    position: relative;
    width: 100%;
    border: 2px solid var(--c1-color);
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 6);
    overflow: auto;
    max-width: 82rem;
    scrollbar-width: none;
    border-radius: 1rem;
    pointer-events: none;
    
    & > div > svg{
        fill: white;
        width: 4rem;
        height: 4rem;
    }

    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        scroll-snap-align: start;
        animation: scrollOne 10s linear infinite;
        & > p{
            color: white;
            font-family: var(--f2-font);
        }
    }
}

@media (max-width: 500px){

    .home__section-information{
        padding: 5rem 1% 5rem 1%;

    }
    .home__section-icons{
        & > div > svg{
            width: 2rem;
            height: 2rem;
        }

        & > div{
            animation: scrollFive 10s linear infinite;
        }
    }
}

@media (max-width: 1350px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 5);
        & > div{
                animation: scrollThree 10s linear infinite;
        }
    }
}

@media (max-width: 1150px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 4);
    }
}

@media (max-width: 960px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 3);

        & > div{
                animation: scrollTwo 10s linear infinite;
        }
    }
}

@media (min-width: 2000px){
    .home__section-icons{
        min-width: max-content;
        & > div{
                animation: none;
        }
    }
}

.home__section-examples{
    width: 100%;
    display: grid;
    column-gap: 1rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.section-example{
    align-self: center;
    justify-self: center;
    width: 22rem;
    position: relative;
    aspect-ratio: 1/ 1;
    border: 2px solid var(--c1-color);
    border-radius: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
    &::after{
        position: absolute;
        content: '';
        inset: 0;
        background-color: black;
        opacity: 40%;
        border-radius: 2rem;
    }

    & > div{
        width: 10rem;
        padding: .5rem 0 .5rem 0;
        background-color: black;
        border: 2px solid var(--c1-color);
        color: white;
        font-family: var(--f2-font);
        font-size: 1.125rem;
        border-radius: 1rem;
        z-index: 4;
        cursor: auto;
        text-align: center;
    }
}

.section-example:nth-child(1){
    background: url('../../images//business.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(2){
    background: url('../../images//ecommerce.webp');
    background-position: 0 -2px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(3){
    background: url('../../images//personal.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(4){
    background: url('../../images//service.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}