
.home_header-wrapper{
    margin-top: 5rem;
    position: relative;
    background: url('../../images/homeBg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::after{
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--c3-color);
    opacity: 80%;
    }

    &::before{
        position: absolute;
        content: '';
        inset: 0;
        background: rgba(94, 94, 94, 0.068);
        backdrop-filter: blur(.5vh);
        z-index: 3;
    }
}
.home_header{
    position: relative;
    min-height: fit-content;
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & *{
        position: relative;
        z-index: 2;
    }

    

}

.home_header_content{
    z-index: 3;
    padding-top: 5rem;
    & > h1{
        font-family: var(--f1-font);
        color: white;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & > div{
        display: flex;
        justify-content: space-around;

        & > button{
            position: relative;
            font-family: var(--f1-font);
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            width: 8rem;
            height: 3rem;
            color: white;
            background-color: black;
            border: 1px solid var(--c1-color);
            border-radius: 5rem;

            &:hover{
                background-color: var(--c1-color);
            }
            /* &::after{
                position: absolute;
                inset: 0;
                content: '';
                opacity: 10%;
                border-radius: 5rem;
            }
            &:hover::after{
                background-color: var(--c1-color);
            } */
        }
    }
}

.home_header_angel-wings{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    &::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: var(--c1-color);
        opacity: 10%;
        aspect-ratio: 1 / 1;
        height: 150%;
    }
}

@media (max-width: 965px){
    .home_header_content{
        & > h1{
            font-size: 2rem;
        }
    }
}

@media (max-width: 450px){
    .home_header{
        height: calc(100svh - 5rem);
        justify-content: center;
    }

    .home_header_content{
        padding: 3rem 0 3rem 0;
        & > h1{
            font-size: 1.7rem;
        }
    }
}





.home__section-information{
    padding: 5rem clamp(1rem, 10%, 25rem) 5rem clamp(1rem, 10%, 25rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: linear-gradient(to bottom, var(--c3-color-augment) 5%, var(--c3-color) 50%, var(--c3-color-augment) 100%);
}

.home__section-icons{
    position: relative;
    width: 100%;
    border: 2px solid var(--c1-color);
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 6);
    overflow: auto;
    max-width: 82rem;
    scrollbar-width: none;
    border-radius: 1rem;
    pointer-events: none;
    
    & > div > svg{
        fill: white;
        width: 4rem;
        height: 4rem;
    }

    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        scroll-snap-align: start;
        animation: scrollOne 10s linear infinite;
        & > p{
            color: white;
            font-family: var(--f2-font);
            text-align: center;
        }
    }
}



@media (max-width: 1350px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 5);
        & > div{
                animation: scrollThree 10s linear infinite;
        }
    }
}

@media (max-width: 1150px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 4);
    }
}

@media (max-width: 960px){
    .home__section-icons{
        grid-auto-columns: calc(100% / 3);

        & > div{
                animation: scrollTwo 10s linear infinite;
        }
    }
}

@media (min-width: 2000px){
    .home__section-icons{
        min-width: max-content;
        & > div{
                animation: none;
        }
    }
}

@media (max-width: 500px){

    .home__section-information{
        padding: 5rem 1% 5rem 1%;

    }
    .home__section-icons{
        & > div > svg{
            width: 2rem;
            height: 2rem;
        }

        & > div{
            animation: scrollFive 10s linear infinite;
        }
    }
}

.home__section-examples{
    width: 100%;
    display: grid;
    column-gap: 1rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.section-example{
    align-self: center;
    justify-self: center;
    width: 18rem;
    position: relative;
    aspect-ratio: 1/ 1;
    border: 2px solid var(--c1-color);
    border-radius: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
    &::after{
        position: absolute;
        content: '';
        inset: 0;
        background-color: black;
        opacity: 40%;
        border-radius: 2rem;
    }

    & > div{
        width: 10rem;
        padding: .5rem 0 .5rem 0;
        background-color: black;
        border: 2px solid var(--c1-color);
        color: white;
        font-family: var(--f2-font);
        font-size: 1.125rem;
        border-radius: 1rem;
        z-index: 4;
        cursor: auto;
        text-align: center;
    }
}

.section-example:nth-child(1){
    background: url('../../images//business.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(2){
    background: url('../../images//ecommerce.webp');
    background-position: 0 -2px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(3){
    background: url('../../images//personal.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-example:nth-child(4){
    background: url('../../images//service.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__section-redirect{
    height: 35rem;
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    &::after{
        position: absolute;
        content: '';
        inset: 0;
        opacity: 50%;
        background-color: var(--c4-color);
    }

    &::before{
        position: absolute;
        content: '';
        inset: 0;
        background: url('../../images//redirectImage.webp');
        z-index: 6;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
    }

    & > *{
        position: relative;
        z-index: 6;
    }

    & > div{
        padding: 5rem 0 0 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & > h1{
            font-family: var(--f1-font);
            font-size: 2.5rem;
        }

        & > p{
            font-family: var(--f2-font);
        }

        & > p:nth-of-type(1){
            font-size: 1.825rem;
            font-weight: 500;
        }
        & > p:nth-of-type(2){
            font-size: 1.5rem;
        }

        & > button{
            font-family: var(--f2-font);
            width: fit-content;
            padding: .75rem 1rem .75rem 1rem;
            font-size: 1rem;
            border-radius: 2rem;
            background-color: transparent;
            border: 1px solid black;
            font-weight: bold;

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

@media (max-width: 850px){
    .home__section-redirect{
        &::before{
            background-size:cover;
            background-position: center;
        }

    }
}

@media (max-width: 1250px){
    .home__section-redirect{
        grid-template-columns: 1fr;

        &::after{
            opacity: 85%;
        }
        & > div{
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 0;
            &::after{
                position: absolute;
                content: '';
                inset: 0;
                background-color: black;
                opacity: 45%;
            }

            & > *{
                position: relative;
                z-index: 7;
                color: white;
                text-align: center;
            }

            & > button{
                border-color: white;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .home__section-redirect{

        & > div{
            & > h1{
                font-size: 1.825rem;
            }
            & > p:nth-of-type(1){
                font-size: 1.5rem;
            }
            & > p:nth-of-type(2){
                font-size: 1.25rem;
            }
        }
    }
}

.home__footer{
    background: url('../../images//footerbg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__footer-contact{
    padding: 5rem clamp(1rem, 15%, 25rem) 0 clamp(1rem, 15%, 25rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
}

.home__footer-contact-header{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > h1{
        font-family: var(--f2-font);
    }

    & > p{
        font-family: var(--f1-font);
        font-size: .8rem;
    }
}

.home__footer-contact-content{
    display: flex;
    justify-content: center;
    & > form{
        position: relative;
        border: 2px solid white;
        border-radius: 2rem;
        display: grid;
        padding: 1.5rem;
        column-gap: 2rem;
        row-gap: 3rem;

        &::before{
            position: absolute;
            content: '';
            inset: 0;
            backdrop-filter: blur(10px);
            border-radius: 2rem;
        }

        & > *{
            position: relative;
            z-index: 6;
        }
        
        & > div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        & > div > label{
            color: white;
            font-family: var(--f1-font);
        }
        & > div > input{
            height: 2.5rem;
            background-color: rgba(101, 145, 238, 0.301);
            border-radius: .25rem;
            border: none;
            padding: .5rem;
            position: relative;
            color: white;  
            font-family: var(--f2-font);
            font-size: 1rem;
        }

        & > div > textarea{
            height: 8rem;
            background-color: rgba(101, 145, 238, 0.301);
            border-radius: .8rem;
            padding: .5rem;
            resize: none;
            font-family: var(--f2-font);
            border: none;
            color: white; 
            font-size: 1rem;
        }

        & > div:nth-of-type(7){
            grid-column: span 2;
        }

        & > div > button{
            width: max-content;
            padding: .75rem 1.5rem .75rem 1.5rem;
            background-color: rgba(101, 145, 238, 0.301);
            border: none;
            color: white;
            border-radius: .25rem;
            font-family: var(--f1-font);

            &:hover{
                background-color: rgba(101, 145, 238, 1);
            }
        }
    }
}

@media (max-width: 1200px){
    .home__footer-contact{
        grid-template-columns: none;
    }
}

@media (max-width: 700px){
    .home__footer-contact-content > form{
        min-width: 18rem;
        display: flex;
        flex-direction: column;
    }

    .home__footer-contact-header{
        & > h1, & > p{
            text-align: center;
        }
    }
}

@media (max-width: 500px){
    .home__footer-contact{
       padding-left: 0;
       padding-right: 0; 
    }

    .home__footer-contact-header{
        & > h1{
            font-size: 1.5rem;
        }
    }

}