.price-table{
    color: white;
    font-family: var(--f2-font);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-inline: 1rem;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 75rem;
    }
    & table, & th, & td {
        border: 1px solid var(--c1-color);
        border-collapse: collapse;
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    .price-table {
        font-size: .8rem;
        & table, & th, & td { 
            padding: .3rem;
        }
    }
}