
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
#root{
  overflow: hidden;
}
body{
  background-color: var(--c3-color);
}

:root{
  --c1-color: #A6789B;
  --c2-color: #111827;
  --c3-color-augment: #121212;
  --c3-color: #000000;
  --c4-color: #D294C4;

  --f1-font: "Karla", sans-serif;
  --f2-font: "Red Hat Display", sans-serif;
}

.page-section{
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section__child{
  max-width: 120rem;
  min-width: 20rem;
  width: 100%;
}

.nav-main-wrapper{
  position: fixed;
  background: linear-gradient(
    to top, 
    var(--c3-color-augment) 40%, 
    var(--c3-color) 100% 
  ); 
  min-height: 5rem;
  justify-content: center;
  z-index: 8;
  width: 100%;
}
.nav-main{

  padding: .5rem clamp(1rem, 10vw, 15rem) .5rem clamp(1rem, 10vw, 15rem);


  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-main__header{
  display: flex;
  align-items: center;
  gap: 1rem;
  & > img{
    width: clamp(2rem, 3vw, 3rem);
  }

  & > p{
    font-family: var(--f1-font);
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    
  }
}

.nav-main__buttons{
  display: flex;
  justify-content: end;
  align-items: center;

  & > ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;

    & > li{
      width: 7rem;
      border: 1px solid var(--c1-color);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: .5rem;
      border-radius: 5rem;
    }

    & > li > a{
      font-family: var(--f2-font);
      color: white;
      font-weight: 700;
      text-decoration: none;
    }

    & > li:nth-child(2){
      background-color: var(--c1-color);
    }
  }
}

.nav-side-toggle{
  background-color: transparent;
  border: none;
  display: none;
  flex-direction: column;
  gap: .5rem;
  & > div:nth-child(1){
    width: 3rem;
    background-color: white;
    height: .25rem;
    border-radius: .5rem;
  }

  & > div:nth-child(2){
    width: 1.5rem;
    background-color: white;
    height: .25rem;
    border-radius: .5rem;
  }
}

@media (max-width: 965px){
  .nav-main__header > p{
    font-size: 1rem;
  }

  /* .nav-main__header > img{
    width: 1rem;
  } */
}

.sidebar-nav{
  display: none;
  min-width: 20rem;
  max-width: 35rem;
  position: fixed;
  height: 100svh;
  width: 50vw;
  z-index: 9;
  background: linear-gradient(
    to top, 
    var(--c3-color-augment) 40%, 
    var(--c3-color) 100% 
  ); 
  padding: 1rem;
  transition: 1s ease-in-out;
}

.toggle{
  transform: translateX(-100%);
}

.sidebar-nav__header{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  & > button{
    height: min-content;
    padding: .5rem 1rem .5rem 1rem;
    font-family: var(--f2-font);
    color: white;
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid white;
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(.8rem, 4vw, 1.25rem);
  }

  & > div > h1{
    font-family: var(--f1-font);
  }
  & > div > img{
    width: 35px;
    aspect-ratio: 1 / 1;
  }
}

.sidebar-nav__content{
  margin-top: 5rem;
  & > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: var(--f1-font);
    font-size: 3.5rem;
    font-weight: 500;
  }
}

.sidebar-nav__footer{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & > p{
    color: rgb(172, 172, 172);
    font-family: var(--f2-font);
  }

  & > h1{
    font-family: var(--f1-font);
    color: white;
    font-size: 1rem;
  }

  & > ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  & > ul > li{
    color: white;

    & > button{
      background-color: transparent;
      border: none;

      & > svg{
        fill: white;
        width: 35px;
        height: 35px;
      }
    }
  }
}

.selected{
  color: var(--c1-color) !important;
}

@media (max-width: 730px){
  .nav-main__buttons{
    display: none;
  }

  .sidebar-nav{
    display: block;
  }

  .nav-side-toggle{
    display: flex;
  }

  .nav-main{
    grid-template-columns: 1fr;
  }

  .nav-main__header{
    justify-content: space-between;
    
  }
}

.footer-content{
  padding: 5rem clamp(1rem, 15%, 25rem) 5rem clamp(1rem, 15%, 25rem);
  /* background-color: var(--c2-color); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: space-evenly;
  gap: 3rem;
  & *{
    font-family: var(--f2-font);
    color: white;
  }

  & a{
    text-decoration: none;
  }

  & a:hover{
    text-decoration: underline;
  }

  & > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.logo{
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.footer-column__header{
  justify-content: center;
  & > p{
    font-size: .8rem;
  }
  
}